/* 날짜 칸 */
.react-calendar__tile {
    padding: 0 !important;
    position: relative;
    height: 90px;
}

/* 숫자 완전 제거 */
.react-calendar__tile abbr {
    display: none;
}

/* 오늘 날짜 배경 제거 */
.react-calendar__tile--now {
    background: transparent !important;
    color: goldenrod;
    font-weight: bolder;
}

.react-calendar {
    border: none !important;
    box-shadow: none;
    height: 100%;
    width: 420px;
    background: transparent;
}

/* 🔥 이미지가 칸을 꽉 채우게 */
/* 전체 래퍼 */
.gold-tile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

/* 이미지 영역 */
.gold-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 2px;
}

/* 날짜 숫자 */
.day-number {
    font-size: 10px;
    color: #777;
    line-height: 1;
    padding-top: 0px;
    padding-bottom: 5px;
}

.gold-tile img:hover {
    transform: scale(1.05);
    transition: 0.15s ease;
}

/* tile hover/active 배경 제거 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
    background: transparent !important;
}

.paid .day-number {
    color: #000;
}