.GoldList .menu_bar {
    margin: 5px 0px;
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.GoldList .menu_bar select {
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
}

.GoldList .menu_bar button {
    flex: 1;
}

.list_wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;

    height: 320px;
    padding: 6px;

    overflow-y: auto;
}

/* NoData는 grid 영향 최소화 */
.no-data-wrapper {
    grid-column: 1 / -1;
    /* 전체 폭 차지 */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 160px;
}