.ticker-container {
    width: 260px;
    height: 130px;
    overflow: hidden;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 10px 1px hwb(0 53% 47% / 0.35);
}

/*슬라이더*/
.ticker-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 14px;
}


.ticker-track {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    margin-left: 5px;
}

/*미니차트*/
.mini-chart {
    width: 30%;
    height: 40px;
}

.name {
    font-weight: 600;
}

.price {
    color: hsl(29, 100%, 60%);
    margin-right: 20px;
    margin-top: 4px;
    font-size: 27px;
}

.diff.up {
    color: #ff4d4f;
}

.diff.down {
    color: #1890ff;
}

/*등장 효과*/
.fade-slide {
    opacity: 0;
    transform: translateY(-18px);
}

.fade-slide.show {
    opacity: 1;
    transform: translateY(0);
    transition:
        opacity 0.25s ease-out,
        transform 0.42s cubic-bezier(0.34, 1.4, 0.64, 1);
}