.ticker-container {
    width: 290px;
    height: 130px;
    overflow: hidden;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 10px 1px hwb(0 53% 47% / 0.35);
}

.ticker-container:nth-child(1) {
    margin-left: -30px;
}

/*슬라이더*/
.ticker-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 14px;
}

/*그냥 차트 */

.simple-ticker {
    justify-content: center;
}

.simple-ticker .label {
    font-weight: bold;
    font-size: 17px;
}

.simple-ticker .value {
    font-size: 30px;
    justify-content: left;
}

.flag {
    color: red;
}

.flag> :first-child {
    padding-right: 5px;
}


.ticker-track {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    margin-left: 5px;
}

/*미니차트*/
.mini-chart {
    width: 30%;
    height: 40px;
}

.name {
    font-weight: 600;
    font-size: 17px;
}

.price {
    color: hsl(29, 100%, 60%);
    margin-right: 20px;
    margin-top: 4px;
    font-size: 27px;
}

.diff.up {
    color: #ff4d4f;
}

.diff.down {
    color: #1890ff;
}

/*등장 효과*/
.fade-slide {
    opacity: 0;
    transform: translateY(-8px);
    transition: opacity 2.9s ease, transform 0.4s ease;
}

.fade-slide.show {
    opacity: 1;
    transform: translateY(0);
}