.Button {
    background-color: rgb(236, 236, 263);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 13px;
    white-space: nowrap;

}

.Button_POSITIVE {
    background-color: #ffbc20;
    color: white;
}

.Button_NEGATIVE {
    background-color: rgb(253, 86, 95);
    color: white;
}

.Button_DELETE {
    background-color: rgb(0, 0, 0);
    width: 60PX;
    color: white;
    justify-content: center;
}